body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 600px;
  text-align: center;
  background-color: rgb(161, 37, 37);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: white;
}

.countdown-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.countdown-box div {
  text-align: center;
  flex: 1 1 100px;
  margin: 5px;
}

.countdown-box span {
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.buttons {
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}


@media (max-width: 768px) {
  .countdown-box {
      flex-direction: column;
  }

  button {
      width: 100%;
      margin-top: 10px;
  }
}